* {
	margin: 0;
	padding: 0;
  	box-sizing: border-box;
  	font-family: Arial, sans-serif;
	background-repeat: no-repeat;
	background-color: rgb(4, 11, 24);
}

.wrapper {
	width: 100%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.container {
	max-width: 90%;
	margin-top: 100px;
  	background: rgb(17, 17, 17);
  	padding: 40px;
  	width: 320px;
  	border-radius: 10px;
	box-shadow: 0px 0px 9px rgba(145, 228, 255, 0.484);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
}

h2 {
  	color: white;
  	text-align: center;
	background: rgb(17, 17, 17);
	text-shadow: 0 0 4px rgba(165, 229, 255, 0.652);
}

.text {
	color: rgb(255, 255, 255);
	background: #111;
}
.text2{
	color: rgb(81, 205, 247);
	background: rgb(17, 17, 17);
	font-weight: 500;
	text-shadow: 0 0 4px rgba(28, 191, 255, 0.652);
}

.form-control {
  	position: relative;
	background: rgb(17, 17, 17);
}

.form-control input {
  	width: 100%;
  	padding: 10px 0;
  	background: transparent;
  	border: none;
  	border-bottom: 2px solid #555;
  	color: white;
  	font-size: 16px;
  	outline: none;
	background: rgb(17, 17, 17);
}

.form-control label {
  	position: absolute;
  	top: 10px;
  	left: 0;
  	color: #aaa;
  	pointer-events: none;
	background: rgb(17, 17, 17);
}

.form-control label span {
  	display: inline-block;
  	transition: 0.3s ease;
	background: rgb(17, 17, 17);
}

.form-control input:focus + label span, .form-control input:valid + label span {
  	transform: translateY(-25px);
  	color: rgb(81, 205, 247);
	text-shadow: 0 0 4px rgba(56, 194, 248, 0.758);
}

button {
  	width: 100%;
  	padding: 10px;
  	background: rgb(81, 205, 247);
  	border: none;
  	border-radius: 5px;
  	cursor: pointer;
  	font-size: 16px;
	font-weight: 600;
}

button:hover {
	background: rgb(0, 150, 209);
	box-shadow: 0px 0px 9px #b3f9ff73;
}
